body::-webkit-scrollbar {
    width: .2em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    /* outline: 1px solid var(--primary); */
    border-radius: 15px;
}


.cursor {
    position: fixed;
    display: none;
    /*so it dosent start from the center every time the page loads */
    z-index: 1000;
    background-color: var(--accent);
    /* box-shadow: 0 0 10px 20px rgba(133, 173, 252, 0.8), 0 0 30px rgba(194, 206, 231, 0.6), 0 0 50px 100px rgba(221, 224, 231, 0.4); */
    height: 20px;
    width: 20px;
    border-radius: 50px;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.cursor:before {
    content: "";
    position: absolute;
    background-color: radial-gradient(rgba(29, 78, 216, 0.15), transparent 80%);
    box-shadow: 0 0 10px 25px rgba(133, 173, 252, 0.8), 0 0 30px 30px rgba(194, 206, 231, 0.6), 0 0 10px 40px rgba(221, 224, 231, 0.2);
    width: 20px;
    height: 20px;
    opacity: 0.1;
    transform: translate(-12%, -12%);
    border-radius: 50%;
}