:root {
    --text: #e0e5f1;
    --background: #0b1018;
    --primary: #195DE9;
    --secondary: #182234;
    --accent: #6f92da;
}

* {
    font-family: Inter, sans-serif;
    color: var(--text);
}

body {
    background: rgb(24, 34, 52);
    cursor: none;
    background: rgb(24, 34, 52);
    background: -moz-radial-gradient(circle, rgba(24, 34, 52, 1) 72%, rgba(11, 16, 24, 1) 100%) !important;
    background: -webkit-radial-gradient(circle, rgba(24, 34, 52, 1) 72%, rgba(11, 16, 24, 1) 100%) !important;
    background: radial-gradient(circle, rgba(24, 34, 52, 1) 72%, rgba(11, 16, 24, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#182234", endColorstr="#0b1018", GradientType=1);
}

a {
    cursor: none;
    text-decoration: none !important;
    color: var(--text) !important;
}

.intro>h1 {
    font-size: 3em;
    font-weight: 800;
}

.intro>h3 {
    color: var(--primary);
}


.link-center {
    justify-content: center;
    display: flex;
}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100vh;
}

.h100 {
    height: 100vh;
}

.mybtn {
    background-color: var(--primary);
    border-radius: 25px;
    padding: 2% 15%;
    text-decoration: none;
    width: 75% !important;
    margin-top: 0em;
}

.mybtn:hover {
    box-shadow: 0 0 15px 10px var(--secondary),
        0 0 25px 20px var(--secondary);
}

.links>.col-4>a:hover {
    box-shadow: 0 0 15px 10px var(--secondary),
        0 0 25px 20px var(--secondary);
}

/* Style for the navigation menu */

.link a {
    display: flex;
    align-items: center;
    margin: .8em !important;
    font-size: 1rem;
}

/* Style for the horizontal line (indicator) */
.link a::before {
    content: "";
    width: 8px;
    height: 2px;
    border-radius: 25px;
    background-color: #f8f7f7;
    margin-right: 10px;
    transition: width 0.3s ease;
}

/* Hover effect for the line */
.link a:hover::before,
.link a.active::before {
    width: 16px;
    background-color: var(--primary);
    box-shadow: 0 0 15px 10px var(--secondary),
        0 0 25px 20px var(--secondary);

}

@media (max-width: 992px) {
    .intro{
        padding: 2% !important;
    }
    .sticky {
        max-height: 50vh !important;
        top: 1px !important;
        position: relative !important;
        padding: 2% !important;
    }
    .mybtn{
        margin-bottom: 2% !important;
    }
}


@media (min-width: 1200px) and (min-height: 768px) {
    .link a {
        margin: 3rem;
        font-size: 1.6rem;
    }
    
    .p {
        font-size: larger;
    }
    .mybtn{
        margin-top: 1em !important;
    }
    .links{
        margin-top: 10em !important;
    }
}