:root {
    --text: #bec3d1;
    --maintext: #d4dcf5;
    --background: #0b1018;
    --primary: #195DE9;
    --secondary: #182234;
    --accent: #6f92da;
}

* {
    font-family: Inter, sans-serif;
    color: var(--text);
}

body {
    background: rgb(24, 34, 52);
    cursor: none;
    background: rgb(24, 34, 52);
    background: -moz-radial-gradient(circle, rgba(24, 34, 52, 1) 72%, rgba(11, 16, 24, 1) 100%) !important;
    background: -webkit-radial-gradient(circle, rgba(24, 34, 52, 1) 72%, rgba(11, 16, 24, 1) 100%) !important;
    background: radial-gradient(circle, rgba(24, 34, 52, 1) 72%, rgba(11, 16, 24, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#182234", endColorstr="#0b1018", GradientType=1);
}

a {
    cursor: none;
    text-decoration: none !important;
    color: var(--text) !important;
}

.intro>h1 {
    font-size: 3em;
    font-weight: 800;
    color: var(--maintext);
}

.intro>h3 {
    color: var(--primary);
}


.link-center {
    justify-content: center;
    display: flex;
}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100vh;
}

.h100 {
    min-height: fit-content;
}

.mybtn {
    background-color: var(--primary);
    border-radius: 25px;
    padding: 2% 15%;
    text-decoration: none;
    width: 75% !important;
    margin-top: 0em;
    font-weight: 600;
    font-size: 1.4rem;
}

.mybtn:hover {
    box-shadow: 0 0 15px 10px var(--secondary),
        0 0 25px 20px var(--secondary);
}

.links>.col-4>a:hover {
    box-shadow: 0 0 15px 10px var(--secondary),
        0 0 25px 20px var(--secondary);
}

/* Style for the navigation menu */

.link a {
    display: flex;
    align-items: center;
    margin: .8em !important;
    font-size: 1rem;
}

/* Style for the horizontal line (indicator) */
.link a::before {
    content: "";
    width: 8px;
    height: 2px;
    border-radius: 25px;
    background-color: #f8f7f7;
    margin-right: 10px;
    transition: width 0.3s ease;
}

/* Hover effect for the line */
.link a:hover::before,
.link a.active::before {
    width: 16px;
    background-color: var(--primary);
    box-shadow: 0 0 15px 10px var(--secondary),
        0 0 25px 20px var(--secondary);

}

@media (max-width: 992px) {
    .intro {
        padding: 3% !important;
    }

    .sticky {
        max-height: 50vh !important;
        top: 1px !important;
        position: relative !important;
        padding: 2% !important;
    }

    .mybtn {
        margin-bottom: 5% !important;
    }

    .mainsection {
        margin-top: 5vh !important;
    }

    .section {
        margin-top: 4vh !important;
        padding: 2% !important;
    }
}


@media (min-width: 1200px) and (min-height: 768px) {
    .link a {
        margin: 2rem;
        font-size: 1.6rem;
    }

    .p {
        font-size: larger;
    }

    .mybtn {
        margin-top: 1em !important;
    }
    .section p{
        font-size: 1em !important;
    }

    .links {
        margin-top: 5em !important;
    }
}

.mainsection {
    text-align: justify;
    /* border: 1px solid red; */
    padding-top: 2rem;
}

.section h2 {
    color: var(--maintext) !important;
    font-weight: 600;
}

.section p {
    padding-left: 2vw;
    font-size: 0.8rem;
}

.section p::before {
    content: "<h3>";
    font-size: 14px;
    bottom: 100px;
    margin-left: -15px;
}

.section p::after {
    content: "</h3>";
    font-size: 14px;
    margin-left: -15px;
}

.text-link {
    color: white !important;
    font-weight: 800;
}

.text-link:hover {
    color: var(--primary) !important;
}

b {
    color: white !important;
}

.h100 {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.scroll{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid var(--accent);
    position: absolute;
    border-radius: 50px;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid var(--accent);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
    0% {
        /* top:20%; */
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        top: 90%;
        opacity: 0;
    }
} 