:root {
    --text: #e0e5f1;
    --background: #0b1018;
    --primary: #195DE9;
    --secondary: #182234;
    --accent: #6f92da;
    background-color: var(--background);
}

* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
}

body {
    background-color: var(--background) !important;
    cursor: none;
}


a {
    cursor: none;
    text-decoration: none !important;
    color: var(--text) !important;
}

.intro>h3 {
    color: var(--primary);
}

.container {
    width: 100vw !important;
}

.sticky {
    height: 100dvh;
    align-items: start;
    top: 0;
    position: sticky;
}

.text {
    color: var(--text) !important;
}

.h100 {
    height: 100vh;
}

.mybtn {
    background-color: var(--primary);
    border-radius: 25px;
    padding: 2% 15%;
    text-decoration: none;
}

.mybtn:hover {
    box-shadow: 0 0 15px 10px var(--secondary),
        0 0 25px 20px var(--secondary);
}

.h200 {
    height: 200vh;
}

.links > .col-4 > a:hover {
    box-shadow: 0 0 15px 10px var(--secondary),
        0 0 25px 20px var(--secondary);

}

/* Style for the navigation menu */

.nav-menu a {
    display: flex;
    align-items: center;
}

/* Style for the horizontal line (indicator) */
.nav-menu a::before {
    content: "";
    width: 8px;
    height: 2px;
    background-color: #f8f7f7;
    margin-right: 10px;
    transition: width 0.3s ease;
}

/* Hover effect for the line */
.nav-menu a:hover::before,
.nav-menu a.active::before {
    width: 16px;
    background-color: var(--primary);
}

@media (max-width: 992px) {
    .sticky {
        height: 50vh !important;
        top: 1px !important;
        position: relative !important;
    }

}